<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    <p>Welcome to <%= title %></p>
    <!-- WRAPPER -->
    <div id="wrapper">
      <!-- USER LIST -->
      <h2>User List</h2>
      <div id="userList">
        <table>
          <thead>
            <th>UserName</th>
            <th>Email</th>
            <th>Delete?</th>
          </thead>
          <tbody>
          </tbody>
        </table>
      </div>
      <!-- /USER LIST -->
    </div>
    <!-- /WRAPPER -->
  </body>
  <script src="/javascripts/global.js" />
</html>
